DON PE/Assets/Assets/ALP_Assets/Realistic Terrain Textures Lite/Scenes/TerrainDATA/Terrain.asset
DON PE/Assets/Assets/ALP_Assets/Realistic Terrain Textures Lite/Textures/Ground001.tif
DON PE/Assets/Assets/ALP_Assets/Realistic Terrain Textures Lite/Textures/Ground001_AO.png
DON PE/Assets/Assets/ALP_Assets/Realistic Terrain Textures Lite/Textures/Ground001_AO.png.meta
DON PE/Assets/Assets/ALP_Assets/Realistic Terrain Textures Lite/Textures/Ground001_H.png
DON PE/Assets/Assets/ALP_Assets/Realistic Terrain Textures Lite/Textures/Ground001_H.png.meta
DON PE/Assets/Assets/ALP_Assets/Realistic Terrain Textures Lite/Textures/Ground001_mask.png
DON PE/Assets/Assets/ALP_Assets/Realistic Terrain Textures Lite/Textures/Ground001_mask.png.meta
DON PE/Assets/Assets/ALP_Assets/Realistic Terrain Textures Lite/Textures/Ground001_N.png
DON PE/Assets/Assets/ALP_Assets/Realistic Terrain Textures Lite/Textures/Ground001_N.png.meta
DON PE/Assets/Assets/ALP_Assets/Realistic Terrain Textures Lite/Textures/Ground001_S.png
DON PE/Assets/Assets/ALP_Assets/Realistic Terrain Textures Lite/Textures/Ground001_S.png.meta
DON PE/Assets/Assets/script/using UnityEngine;  public class Tronco  MonoBehaviour {     private void OnTriggerEnter(Collider other)     {         InventarioJugador inv = other.GetComponentInventarioJug.cs
DON PE/Assets/Assets/script/using UnityEngine;  public class Tronco  MonoBehaviour {     private void OnTriggerEnter(Collider other)     {         InventarioJugador inv = other.GetComponentInventarioJug.cs.meta
